.App {
  text-align: center;
}

.App-logo {
  height: 31px;
  padding: 0px 10px;
  border-right: 1px solid #e0e0e0;
  margin: 10px 0px;
}

.App-header {
  background-color: #fff;
  height: 50px;
  display: flex;
  width: auto;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  left: 20px;
  font-size: calc(10px + 2vmin);
  border: 1px solid #e0e0e0;
  margin-top: 10px;
  border-radius: .28571429rem;
  z-index: 1;
}
.App-header nav {
  margin: 5px 0px;
  list-style: none;
  padding: 10px 5px;
}
.App-header nav a{
  color: #000000;
  margin: 0px 5px;
  text-decoration: none;
  border-right: 1px solid #e0e0e0;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
.App-header nav a:hover{
  margin: 0px 5px;
  text-decoration: none;
  color: #2ED1A2;
  padding-right: 10px;
}

#cursor{
  position: absolute;
}
.canvas{
  /* width: 100%;
  height: 99vh; */
  position: absolute;
      top: 0;
      left: 0;
}
.App-link {
  color: #09d3ac;
}
.hidden{
  display: none;
}
.stationary{
  width: 50px;
  position: absolute;
  top:120px;
  left:20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  padding: 10px 0px;
  border-radius: .28571429rem;
  z-index: 1;
}
.stationary-down{
  height: 50px;
  position: absolute;
  bottom:50px;
  left:70px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
  padding: 10px 0px;
  border-radius: .28571429rem;
  z-index: 1;
}
.stationary a i{
  margin: 10px 0px;
}
.stationary a{
  color:#000000;
}
.stationary a:hover{
  color:#2ED1A2;
}
.stationary-down a i{
  margin: 0px 10px;
}
.stationary-down a{
  color:#000000;
}
.stationary-down a:hover{
  color:#2ED1A2;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paper {
    background-color: #fff;
    border: 2px solid #000;
    padding: 2px 4px 3px;
    width: 100%;
    margin: 0px 200px;
  }
.templatelist{
  width: 25%;
  margin: 10px;
  float: left;
}
.templatelist img{
  width: 100%;
}
.resize-handle-ne,
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
